#cast {
  list-style: none;
  width: 25vw;
  height: 30vh;
  box-sizing: border-box;
  display: block;
}

.li_cast {
  margin-right: 10px;
  margin-bottom: 20px;
}
#image_cast {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
